<div class="search-filter-body">
    <div class="header-close">
        <div class="search">
            <p class="header">Search Filters</p>
        </div>
        <div class="icon">
            <mat-icon mat-dialog-close class="color point">close</mat-icon>
        </div>

    </div>
    <div class="top-search">
        <p class="search-head">Search from Categories</p>
        <div class="button-list">
          <img
            src="../../assets/images/Group 3130.png"
            alt=""
            class="search-category point "
        
          />
          <img
            src="../../assets/images/Group 3129.png"
            alt=""
            class="search-category point"
        
          />
          <img
            src="../../assets/images/Group 3131.png"
            alt=""
            class="search-category point"
            
          />
          <img
            src="../../assets/images/Group 3132.png"
            alt=""
            class="search-category point"
       
          />
          <img
            src="../../assets/images/Group 3133.png"
            alt=""
            class="search-category point"
          
          />
          <img
            src="../../assets/images/Group 3134.png"
            alt=""
            class="search-category point"
           
          />
          <img
            src="../../assets/images/Group 3135.png"
            alt=""
            class="search-category point"
            
          />
          <img
            src="../../assets/images/Group 3136.png"
            alt=""
            class="search-category point"
          
          />
          <img
            src="../../assets/images/Group 3137.png"
            alt=""
            class="search-category point"
        
          />
          <img
            src="../../assets/images/Group 3138.png"
            alt=""
            class="search-category point"
           
          />
          <img
            src="../../assets/images/Group 3139.png"
            alt=""
            class="search-category point"
            
          />
        </div>
      </div>
      <div class="top-search margin-top">
          <p class="search-head">Duration</p>
          <div class="button-list width">
            <img
              src="../../assets/images/Group 3140.png"
              alt=""
              class="search-category point "
          
            />
            <img
              src="../../assets/images/Group 3141.png"
              alt=""
              class="search-category point"
          
            />
            <img
              src="../../assets/images/Group 3142.png"
              alt=""
              class="search-category point"
              
            />
            <img
              src="../../assets/images/Group 3143.png"
              alt=""
              class="search-category point"
         
            />
            <img
              src="../../assets/images/Group 3144.png"
              alt=""
              class="search-category point"
            
            />
           
            
          </div>
      </div>

      <div class="filter-submit">
        <button mat-raised-button class="filter">Apply Filter</button>
        <button mat-raised-button>Clear All</button>
      </div>
</div>
