<app-header></app-header>
<div class="my-course-container">
    <div class="nav-roots">
        <p class="nav-root nav-root-highlight">My Course</p>
    
    </div>
    <div class="course-navbar">
        <div class="navbar-option point" (click)="completionStatus('Ongoing')" [class.nav-root-active]="course_completion_status == 'Ongoing' || course_completion_status == null">Ongoing</div>
        <div class="navbar-option point" (click)="completionStatus('Completed')" [class.nav-root-active]="course_completion_status == 'Completed'">Completed</div>
    </div>
    <div class="ongoing-course">
        
        <div class="each-course">
            
            <div class="course-image">
                <img src="../../assets/images/banner-42 1.png" alt="" class="image">
                <p class="course-name-style status">{{course_completion_status}}</p>
                <div class="course-details">
                    <div>
                        <p class="course-name-style">Product UX Design Course Sale</p>
                        <p class="course-name-style chap-size">15/20 Chapters</p>
                    </div>
                    <div class="continue point">Continue</div>
                </div>
            </div>
            <div class="course-image">
                <img src="../../assets/images/banner-42 1.png" alt="" class="image">
                <p class="course-name-style status">{{course_completion_status}}</p>
                <div class="course-details">
                    <div>
                        <p class="course-name-style">Product UX Design Course Sale</p>
                        <p class="course-name-style chap-size">15/20 Chapters</p>
                    </div>
                    <div class="continue point">Continue</div>
                </div>
            </div>

            <div class="course-image">
                <img src="../../assets/images/banner-42 1.png" alt="" class="image">
                <p class="course-name-style status">{{course_completion_status}}</p>
                <div class="course-details">
                    <div>
                        <p class="course-name-style">Product UX Design Course Sale</p>
                        <p class="course-name-style chap-size">15/20 Chapters</p>
                    </div>
                    <div class="continue point">Continue</div>
                </div>
            </div>
            
            <div class="course-image">
                <img src="../../assets/images/banner-42 1.png" alt="" class="image">
                <p class="course-name-style status">{{course_completion_status}}</p>
                <div class="course-details">
                    <div>
                        <p class="course-name-style">Product UX Design Course Sale</p>
                        <p class="course-name-style chap-size">15/20 Chapters</p>
                    </div>
                    <div class="continue point">Continue</div>
                </div>
            </div>
            <div class="course-image">
                <img src="../../assets/images/banner-42 1.png" alt="" class="image">
                <p class="course-name-style status">{{course_completion_status}}</p>
                <div class="course-details">
                    
                    <div>
                        <p class="course-name-style">Product UX Design Course Sale</p>
                        <p class="course-name-style chap-size">15/20 Chapters</p>
                    </div>
                    <div class="continue point">Continue</div>
                </div>
            </div>
            
        </div>
    </div>
</div>