/* .header{
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
} */

.course-details-container{
    box-sizing: border-box;
    margin: 0;
    padding: 0.5% 10%;
    text-align: left;
    /* max-height: 100vh; */
    margin-top: 10vh;
    /* overflow-y: auto; */
    
    
}
.nav-roots{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5%;
}

.nav-root{
    font-family: Biko;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #7A7A7A;
    font-weight: 200;
    padding: 0.5% 0;
    
}
.nav-root-highlight{
    color:#2BB5F4;
}
.increase-icon-size{
    font-size: 2.4rem;
    /* line-height: 3.8rem; */
    
   
    
}
.border{
    border:1px solid #F0F0F0;
    padding: 2%;
    border-radius: 4px;
}

.course-details-body, .course-name-category{
    width: 100%;
   
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
}
.video-part{
    width: 65%;
    position: relative;
    font-family: Proxima Nova Soft;
}
.details-part{
    width: 30%;
    position: relative;
    min-height: 50vh;
    
    
}
.vidio-size{
    /* object-fit: cover; */
    width: 100%;
    height: 30vw;
    /* max-height: 50vh; */
    object-fit:fill;
    border-radius: 6px;
}
.chapter-height{
    height: 65vh;
    overflow-y: scroll;
}

.course-name,.close-details{
    color:#fff;
    position: absolute;
    top:8%;
    left: 5%;
    z-index: 1;
    font-family: Proxima Nova Soft;
font-weight:bold;
font-size: 2rem;
line-height: 2.4rem;
}
.video-play{
    position: relative;
    
}

.course-name-duration{
    position: absolute;
   bottom: 10%;
    width: 90%;
    color: #fff;
    z-index: 1;
    padding: 0 5%;
    
   background-image:linear-gradient(to right,rgba(0,0,0,0.83),rgba(255,255,255,0.1));

}
.chap-name,.duration-chap{
    font-family: Proxima Nova Soft;
    font-size: 1.6rem;
    font-weight: 300;
    
}
.chap-name{
    padding-top: 2%;
}
.duration-chap{
    font-size: 1.2rem;
}
.play-button{
    position: absolute;
    width: 10%;
    top: 30%;
    left: 45%;
}

.course-name-category{
    margin-top: 2%;
    
}
.name{
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}
.dur{
    font-size: 1.2rem;
    color:#111111;
    
}
.category{
    border-radius: 6px;
    background-color: #FCBE4B ;
    height: fit-content;
    font-size: 1.2rem;
    padding: 0 1%;
    font-weight: bold;
}
.line{
    color: #F0F0F0;
    opacity: 0.2;
}
.show-more{
    color: red;
    cursor: pointer;
}
.black-color{
    color:#000;
    opacity: 0.75;
    font-weight: 100;
    
}

/* Course details part */
.overview-chapters,.ovr-chap-navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    width: max-content;
}
.overview-chapters p,.ovr-chap-navbar p{
    padding: 3% 10% 0 0;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    cursor: pointer;
    color: #7A7A7A;
    font-size: 1.4rem;

    
}
.ovr-chap-navbar{
    display: none;
}

.details-active{
    border-bottom: 1px solid #EC5D52 !important;
    color: #EC5D52 !important;
    /* background-color: red; */
    
}
.course-d-head p{
    color: #000;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Proxima Nova Soft;
}

.icon,.images{
    object-fit: cover;
    
}
/* .chapter-height{
    height: 80vh;
    overflow-y: scroll;
} */
.chapter-height::-webkit-scrollbar{
    display: none;
}
.image,.image1{
   width: 1em;
   height: 1em;
    padding:1%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.image{
    background-color: #2BB5F4;
}
.course-includes
{
    display: flex;
    gap:5%;
    
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2%;
}
.margin{
    margin: 0;
}
.margin-top{
    margin-top: 7%;
}
.will-learn{
    display: flex;
    gap: 5%;
}
ul{
    padding-left: 5%;
}
.instructor-details{
    display: flex;
    justify-content: flex-start;
    gap: 2%;
    align-items: center;
}




.join-course{
    width: 100%;
    margin: auto;
    
    background-color: #EC5D52;
    text-align: center;
    color: #fff;
    padding: 4% 0;
    font-family: Proxima Nova Soft;
    font-size: 2rem;
    font-weight: 400;
    
    
}
.font-size{
    font-size: 1.4rem;
    font-family: Proxima Nova Soft;
}
.black{
    color:#000;
}

/* Chapter part */
.matIcon{
    color: #EC5D52;
}
.chapters,.sub-chapter,.select-icon,.s-c-d,.sub-course-details{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.select-icon{
   
    margin-bottom: 5%;
    position: relative;
    
}
.sub-course-details{
    width: 87%;
    background-color: #F9F9F9;
    padding: 2.5%;
    border-radius: 6px;
}
.s-c-d{
    justify-content: flex-start;
    gap: 5%;
}
/* .sub-chapter{
    
    justify-content: flex-start;
    gap: 2%;
} */

.font{
    font-size: 1.6rem;
}
.button{
    border: none;
    border-radius: 50%;
    
}
.icon-button{
    object-fit: cover;
}

.cirlce-image{
    background-color: #1EAB0D;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    padding: 1%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.chapter-number{
    font-family: Proxima Nova Soft;
    font-size: 2.5rem;
    font-weight: bold;
}
.chapter-name{
    font-family: Proxima Nova Soft;
    font-size: 1.5rem;
    line-height: 4.4rem;
    margin: 0;
}
.chapter-duration{
    font-family: Proxima Nova Soft;
    font-size: 1rem;
}
.chapter-name1{
    line-height: normal;
    
}

.icon1{
    width: 100%;
    height: 100%;
}
.circle-image-color{
    background-color: #E1E1E1;
}
.vertical {
    border-left: 3px solid #1EAB0D;
    height: 6em;
    position: absolute;
    top: 100%;
    z-index: 0;
    
}
.verticl-grey{
    border-left: 3px solid #E1E1E1;
}

.height{
    /* height: 10vh; */
    overflow-y: scroll;
    
}
.height::-webkit-scrollbar{
    display: none;
}
.course-image-div{
    display: none;
}
.close-details,.courseCategory,.videoNavigationPart,.vidio-display{
    display: none;
}
@media(max-width:750px){
    .vertical{
        height: 6.8em;
    }
}




@media(max-width:700px){
    .course-name,.course-name-category{
        display: none;
    }
    .header,.nav-roots,.course-name-duration,.play-button{
        display: none;
    }
   
   
    .course-details-container{
       padding: 5%;
    }
    .vidio-size,.overview-chapters,.line{
        display: none;
    }
    
    .course-image-div{
        display: block;
        position: relative;
        margin-left: -5.5%;
        margin-top: -5.5%;
    }
    .courseCategory{
        display: block;
        position: absolute;
        bottom: 5%;
        margin-left: 5%;
    }
    .courseCategory .name{
        color: #FFFFFF;
        font-family: Biko;
        font-size: 2.6rem;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 3.5rem;
    }
    .courseCategory .dur{
        font-size: 1.4rem;
        font-weight: 400;
    }
    .course-image-div img{
        width: 100vw;
    }
    .course-details-body{
        flex-direction: column;
        width: 100%;
    }
    .video-part,.details-part{
        width: 100%;
    }
    .details-part{
     
        margin-left: -5%;
        padding: 5%;
    }
    .close-details,.ovr-chap-navbar{
        display: block;
    }
   
    .dur{
        color: #fff;
    }
    .category{
        width: fit-content;
    }
    .ovr-chap-navbar{
        display: flex;
    justify-content: space-between;
    align-items: center;
    
    width:90vw;
    margin: auto;
    }
    .ovr-chap-navbar p{
        width: 50%;
        font-size: 1.8rem;
        line-height: 2.1rem;
        text-align: center;
    }
    .close-details{
        left: 2%;
    }
    .course-d-head{
        margin-top: 0;
    }
    .name-dur{
        display: flex;
        gap:5%;
    }
    .videoNavigationPart{
        display: block;
    }
    .preview{
        color: #2B2B2B;
  font-family: ".SF NS Display";
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 2.1rem;
  
    }

    .preview-image-div{
        width: 100%;
        padding: 0;
        height: fit-content;

    }
    .preview-image-div img{
        width: 100%;
        
    }
    .font-size,.mobile-details-font-size{
        font-size: 1.4rem;
        line-height: 1.7rem;
    }
    .black{
        color: #2B2B2B;;
        opacity: 1;
    }
    .course-d-head{
    font-family: ".SF NS Display";
    font-size: 18px;
    margin-top: 8%;
    }
    .margin-less{
        margin-top: 0;
    }
    .border{
        border: none;
    }
    .course-includes,.will-learn{
        gap: 3%;
    }
    .color-change{
        color: #2B2B2B;
        opacity: 1;
    }
    .instructor-details{
        flex-wrap: wrap;
    }
    .name-professional{
        width: fit-content;
    }
    .img{
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        gap: 20%;
        align-items: center;
    }
    .preview-image-div{
        position: relative;
    }
    .video-details{
        display: flex;
        width: 90%;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 25%;

        padding: 0 5% 0 5%;
    }
    .title,.duration{
        color: #fff;
        font-family: ".SF NS Display";
  font-size: 1.6rem;
  letter-spacing: 0;
  line-height: 1.8rem;
    }
    .duration{
        font-size: 1.2rem;
        margin: 0;
    }
    .next{
        color: #fff;
        font-size: 4rem;
    }

    .display-ok{
        display: block;
        
        height: fit-content;
        position: relative;
        
    }

    .display-videos{
       /* height: 100vw;
       width: 100vh; */
       
       height: 100vh;
       width: 100vw;
       object-fit: fill;
       
    }
    .close{
        position: absolute;
        top: 5%;
        right: 5%;
    }
    .sub-course-details{
        margin-bottom: 0.5%;
    }
    .matIcon{
        font-size: 2rem;
        font-weight: bold;
    }
    .category{
        font-weight: normal;
    }
    .vertical{
        height: 5em;
    }
    .active-video{
        color: #042C5C;
        font-weight: bold;
    }
    .chapter-name1{
        font-weight: bold;
    }
    .chapter-duration{
        color: #7A7A7A;
        font-size: 1.2rem;
    }

    
}

