<!-- <div class="header" *ngIf="mobile_video_display == false">
    <app-header></app-header>
</div> -->

{{courseTitleData()}}
<div class="course-details-container" *ngIf="mobile_video_display == false">
    <app-course-navigation></app-course-navigation>

<div class="course-details-body">
    <div class="video-part">
<div class="video-play point" (click)="playVideo()"  >
    <p class="course-name">Preview the course</p>
    <mat-icon class="close-details">
        <img src="../../assets/images/icn_close_white@1.5x.svg" alt="" class="point" routerLink="/dashboard">
    </mat-icon>
    <img src="../../assets/images/Yellow Play.svg" alt="play button" class="play-button point" *ngIf="display_name==true">
    <video [src]="courseDetails.courseOverview.overViewId.previewThisCourse.videoLink" class="vidio-size" controls type="video/mp3" width="80%" height="30%"></video>
    <div class="course-image-div">
        <img src="../../assets/images/img_designcoursedetail1_bg@1.5x.svg" alt="">
        <div class="course-name-category courseCategory">
            <p class="name">{{courseTitle}}</p>
            <div class="name-dur">
                <div class="category">
                    {{courseDetails.courseOverview.category}}
                </div>
                <p class="dur">{{courseDetails.courseOverview.courseContent.totalChapters}} Chapter | {{courseDetails.courseOverview.courseContent.totalLessons}} lessons</p>
            </div>
            
        </div>
    </div>
<div class="course-name-duration" *ngIf="display_name==true">
    <p class="chap-name">Introduction</p>
    <p class="duration-chap">{{courseDetails.courseOverview.overViewId.previewThisCourse.videoDuration | durationPipe}}</p>
</div>
</div>
<div class="course-name-category">
    <div class="name-dur">
        <p class="name">{{courseTitle}}</p>
        <p class="dur">{{courseDetails.courseOverview.courseContent.totalChapters}} Chapter | {{courseDetails.courseOverview.courseContent.totalLessons}} lessons</p>
    </div>
    <div class="category">
        {{courseDetails.courseOverview.category}}
    </div>
</div>

<hr class="line" *ngIf="course_details_active == true">
<div class="ovr-chap-navbar">
    <p [class.details-active]="course_details_active == true" (click)="courseDetailsOverview()">Overview</p>
    <p [class.details-active]="course_details_active == false" (click)="courseDetailsChapter()">Chapters</p>
</div>
<p class="nav-root nav-root-highlight font-size color-blue" *ngIf="course_details_active == true">
    {{courseDetails.courseOverview.overViewId.description}}
</p>

<!-- Video part -->
<div class="videoNavigationPart" *ngIf="course_details_active == true">
    <p class="preview">Preview this course</p>
    <div class="preview-image-div">
        <img src="../../assets/images/img_preview1_bg@1.5x.svg" alt="" class="image-preview">
        <div class="video-details">
            <div class="img">
                <img src="../../assets/images/Yellow Play.svg" alt="" width="50%" (click)="displayVideo()" class="point">
                <div class="video-name">
                    <p class="title">Introduction</p>
                    <p class="duration">3 mins</p>
                </div>
            </div>
           
            <mat-icon class="next point">keyboard_arrow_right</mat-icon>
    
        </div>
    </div>

    
</div>


<p class="nav-root black-color font-size black" *ngIf="course_details_active == true">{{courseDetails.courseOverview.overViewId.previewThisCourse.description}}<span class="show-more">Show more</span></p>
    </div>

    <!-- Course details part -->
    <div class="details-part border">
      <div class="overview-chapters">
          <p [class.details-active]="course_details_active == true" (click)="courseDetailsOverview()">Overview</p>
          <p [class.details-active]="course_details_active == false" (click)="courseDetailsChapter()">Chapters</p>
      </div>
      <div class="overview-part" *ngIf="course_details_active == true">
   
             <p class="course-d-head margin-less">Course&nbsp;Includes</p>
         <div class="course-includes">
             <div class="image">
                 <img src="../../assets/images/overview/Shape (3).png" alt="" class="icon" width="80%">
             </div>
            
                <p class="nav-root over-view-include margin font-size mobile-details-font-size">3.5 total hours video</p>
             
         </div>
         <div class="course-includes">
            <div class="image">
                <img src="../../assets/images/overview/Shape (1).svg" alt="" class="icon" width="80%">
            </div>
           
               <p class="nav-root over-view-include margin font-size">Support Files</p>
            
        </div>
        <div class="course-includes">
            <div class="image">
                <img src="../../assets/images/overview/Shape (2).svg" alt="" class="icon" width="80%">
            </div>
           
               <p class="nav-root over-view-include margin font-size">6 Module Test</p>
            
        </div>
        <div class="course-includes">
            <div class="image">
                <img src="../../assets/images/overview/Shape (1).png" alt="" class="icon" width="80%">
            </div>
           
               <p class="nav-root over-view-include margin font-size">Full lifetime access</p>
            
        </div>
        <div class="course-includes">
            <div class="image">
                <img src="../../assets/images/overview/Shape (2).png" alt="" class="icon" width="90%">
            </div>
           
               <p class="nav-root over-view-include margin font-size">Access on mobile, desktop and tv</p>
            
        </div>
        <div class="course-includes">
            <div class="image">
                <img src="../../assets/images/overview/Shape (1).svg" alt="" class="icon" width="80%">
            </div>
           
               <p class="nav-root over-view-include margin font-size">Certificate of Completion</p>
            
        </div>
        <p class="course-d-head margin-top">What you’ll learn</p>
      <div class="will-learn" *ngFor="let learn of courseDetails.courseOverview.overViewId.whatYouWillLearn;">
          <div class="image1">
            <img src="../../assets/images/overview/Combined-Shape.png" alt="" class="icon">
          </div>
          <p class="nav-root margin opacity black">{{learn}}</p>
      </div>
      <!-- <div class="will-learn">
        <div class="image1">
          <img src="../../assets/images/overview/Combined-Shape.png" alt="" class="icon">
        </div>
        <p class="nav-root black-color margin font-size color-change">You will have a fully interactive design and prototype at the end of this course</p>
    </div>
    <div class="will-learn">
        <div class="image1">
          <img src="../../assets/images/overview/Combined-Shape.png" alt="" class="icon">
        </div>
        <p class="nav-root black-color margin font-size color-change">Design mobile and desktop apps</p>
    </div>
    <div class="will-learn">
        <div class="image1">
          <img src="../../assets/images/overview/Combined-Shape.png" alt="" class="icon">
        </div>
        <p class="nav-root black-color margin font-size color-change">You will learn how to reuse design elements for future projects</p>
    </div> -->
        <p class="course-d-head margin-top">Requirements</p>
        <ul *ngFor="let require of courseDetails.courseOverview.overViewId.requirements;">
            <li class="nav-root black-color font-size color-change">{{require}} </li>
            
        </ul>
        <p class="course-d-head margin-top">Instructor</p>
        <div class="instructor-details">
            <div class="instructor-image">
                <img [src]="courseDetails.courseOverview.overViewId.instructor.instructorImage" alt="" width="80em" height="80em">
            </div>
            <div class="name-professional">
                <p class="course-d-head margin">{{courseDetails.courseOverview.overViewId.instructor.name}}</p>
                <p class="nav-root black-color font-size color-change">{{courseDetails.courseOverview.overViewId.instructor.url}}</p>
            </div>
        </div>
        <p class="nav-root black-color font-size height color-change">
            {{courseDetails.courseOverview.overViewId.instructor.description}}<span class="show-more">Show more</span>
        </p>


      </div>
      <div class="chapters-part" *ngIf="course_details_active == false">
        <p class="course-d-head margin-top font margin-less">Course Content</p>
        <p class="nav-root black font-size">
          {{chapterDetails.listOfChapters.courseContent.totalChapters}} Chapter | {{chapterDetails.listOfChapters.courseContent.totalLessons}} lessons | {{chapterDetails.listOfChapters.courseContent.totalTests}} Assignment Test | {{chapterDetails.listOfChapters.courseContent.totalDuration | totalLength}}h
          total length
        </p>
      </div>
      <div class="chapter-height" *ngIf="course_details_active == false">
        
          <div class="chapters-part" *ngFor="let chapter of chapterDetails.listOfChapters.totalChapters[0].chapters;index as i">
              
              <div class="chapters">
                  <p class="chapter-name"  [class.complete-course-color]="chapter.chapterNumber <=chapter_completed">Chapter {{chapter.chapterNumber}} - {{chapter.chapterTitle}}</p>
                  <mat-icon class="matIcon point" (click)="displaySubChapter(chapter.chapterNumber)" *ngIf="display_sub_chapter == null || display_sub_chapter !=  chapter.chapterNumber">add</mat-icon>
                  <mat-icon class="matIcon point" (click)="closedisplaySubChapter()" *ngIf="display_sub_chapter ==  chapter.chapterNumber">remove</mat-icon>
                </div>
             
            <div class="chapter-data" *ngIf="display_sub_chapter == chapter.chapterNumber">
               <div class="stepper">
                   <div class="sub-course">
                       <div class="select-icon" *ngFor = "let lesson of chapter.lessons;index as xyz">
                           <div class="cirlce-image" [class.complete-course]="lesson.serialNumberOfLesson <= watch_chapter_number" [class.pending]="watch_chapter_number < lesson.serialNumberOfLesson">
                               <img src="../../assets/images/Vector.png" alt="" class="icon" *ngIf="watch_chapter_number > lesson.serialNumberOfLesson">
                               <img src="../../assets/images/Ellipse 7.png" alt="" class="icon z-index" *ngIf="watch_chapter_number <= lesson.serialNumberOfLesson">
                               <div class = "vertical" *ngIf="(chapter.numberOfLessons-1) >= xyz && chapter.test != null" [class.complete-course-line]="watch_chapter_number > lesson.serialNumberOfLesson" [class.pending-line]="watch_chapter_number <= lesson.serialNumberOfLesson"></div>
                               <div class = "vertical" *ngIf="(chapter.numberOfLessons-2) >= xyz && chapter.test == null" [class.complete-course-line]="watch_chapter_number > lesson.serialNumberOfLesson" [class.pending-line]="watch_chapter_number <= lesson.serialNumberOfLesson"></div>
                           </div>
                           
                           <div class="sub-course-details">
                              <div class="s-c-d">
                                <p class="chapter-number margin">{{lesson.serialNumberOfLesson}}</p>
                                <div class="couraseName">
                                    <p class="chapter-name chapter-name1 margin active-video" [class.lesson-completed]="lesson.serialNumberOfLesson <= watch_chapter_number">{{lesson.title}}</p>
                                <p class="chapter-duration margin">{{lesson.duration | lessonDuration}}</p>
                                </div>
                              </div>
                              <div class="image2 point">
                                  <img src="../../assets/images/Red Play.svg" alt="" class="icon1" *ngIf="lesson.serialNumberOfLesson <= watch_chapter_number">
                                  <img src="../../assets/images/grey play.svg" alt="" class="icon1" *ngIf="watch_chapter_number < lesson.serialNumberOfLesson">
                              </div>
    
                           </div>

                           
                           
                       </div>
                       <div class="select-icon" *ngIf="chapter.test != null">
                        <div class="cirlce-image pending down">
                            <!-- <img src="../../assets/images/Vector.png" alt="" class="icon"> -->
                                <img src="../../assets/images/Ellipse 7.png" alt="" class="icon z-index">
                            <!-- <div class = "vertical" *ngIf="(chapter.numberOfLessons-1) >= xyz" [class.complete-course-line]="watch_chapter_number > lesson.serialNumberOfLesson" [class.pending-line]="watch_chapter_number <= lesson.serialNumberOfLesson"></div> -->
                         </div>
                        
                        <div class="sub-course-details right">
                           <div class="s-c-d">
                             <p class="chapter-number margin">
                                 <img src="../../assets/images/Shape (5).png" alt="">
                             </p>
                             <div class="couraseName">
                                 <p class="chapter-name chapter-name1 margin active-video">{{chapter.test.testTitle}}</p>
                             <p class="chapter-duration margin">{{chapter.test.totalTimeAlloted | durationPipe}} | {{chapter.test.totalQuestions}} questions</p>
                             </div>
                           </div>
                          
    
                        </div>
                       </div>
                       
                        
                        
            
                       
                       <!-- <div class="select-icon">
                        <div class="cirlce-image">
                            <img src="../../assets/images/Ellipse 7.png active-video" alt="" class="icon">
                            <div class = "vertical verticl-grey"></div>
                        </div>
                        <div class="sub-course-details">
                           <div class="s-c-d">
                             <p class="chapter-number margin">20</p>
                             <div class="couraseName">
                                 <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                             <p class="chapter-duration margin">01.38 mins</p>
                             </div>
                           </div>
                           <div class="image2 point">
                               <img src="../../assets/images/Red Play.svg" alt="" class="icon1">
                               <img src="../../assets/images/grey play.svg" alt="" class="icon" *ngIf="false">
                           </div>
    
                        </div>
                        
                    </div> -->
                    <!-- <div class="select-icon">
                        <div class="cirlce-image circle-image-color">
                            <img src="../../assets/images/Ellipse 7.png" alt="" class="icon">
                            <div class = "vertical verticl-grey"></div>
                        </div>
                        <div class="sub-course-details">
                           <div class="s-c-d">
                             <p class="chapter-number margin">20</p>
                             <div class="couraseName">
                                 <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                             <p class="chapter-duration margin">01.38 mins</p>
                             </div>
                           </div>
                           <div class="image2">
                               <img src="../../assets/images/Red Play.svg" alt="" class="icon1" *ngIf="false">
                               <img src="../../assets/images/grey play.svg" alt="" class="icon1">
                           </div>
    
                        </div>
                        
                    </div> -->
                    <!-- <div class="select-icon">
                        <div class="cirlce-image circle-image-color">
                            <img src="../../assets/images/Ellipse 7.png" alt="" class="icon">
                            
                        </div>
                        <div class="sub-course-details">
                           <div class="s-c-d">
                             <p class="chapter-number margin">20</p>
                             <div class="couraseName">
                                 <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                             <p class="chapter-duration margin">01.38 mins</p>
                             </div>
                           </div>
                           <div class="image2">
                               <img src="../../assets/images/Red Play.svg" alt="" class="icon1" *ngIf="false">
                               <img src="../../assets/images/grey play.svg" alt="" class="icon1">
                           </div>
    
                        </div>
                        
                    </div> -->
                       
                   </div>
               </div>
            </div>
          </div>
    
          <!-- <div class="chapters-part" *ngIf="course_details_active == false">
              
            <div class="chapters">
                <p class="chapter-name">Chapter 1 - Introduction to the course</p>
                <mat-icon class="matIcon point" (click)="displaySubChapter()" *ngIf="display_sub_chapter == false">add</mat-icon>
                <mat-icon class="matIcon point" (click)="displaySubChapter()" *ngIf="display_sub_chapter == true">remove</mat-icon>
              </div>
           
          <div class="chapter-data" *ngIf="display_sub_chapter == true">
             <div class="stepper">
                 <div class="sub-course">
                     <div class="select-icon">
                         <div class="cirlce-image">
                             <img src="../../assets/images/Vector.png" alt="" class="icon">
                             <div class = "vertical"></div>
                         </div>
                         
                         <div class="sub-course-details">
                            <div class="s-c-d">
                              <p class="chapter-number margin">20</p>
                              <div class="couraseName">
                                  <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                              <p class="chapter-duration margin">01.38 mins</p>
                              </div>
                            </div>
                            <div class="image2 point">
                                <img src="../../assets/images/Red Play.svg" alt="" class="icon1">
                                <img src="../../assets/images/Red Play.svg" alt="" class="icon" *ngIf="false">
                            </div>
    
                         </div>
                         
                     </div>
                     
                     <div class="select-icon">
                      <div class="cirlce-image">
                          <img src="../../assets/images/Ellipse 7.png" alt="" class="icon">
                          <div class = "vertical verticl-grey"></div>
                      </div>
                      <div class="sub-course-details">
                         <div class="s-c-d">
                           <p class="chapter-number margin">20</p>
                           <div class="couraseName">
                               <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                           <p class="chapter-duration margin">01.38 mins</p>
                           </div>
                         </div>
                         <div class="image2 point">
                             <img src="../../assets/images/Red Play.svg" alt="" class="icon1">
                             <img src="../../assets/images/grey play.svg" alt="" class="icon" *ngIf="false">
                         </div>
    
                      </div>
                      
                  </div>
                  <div class="select-icon">
                      <div class="cirlce-image circle-image-color">
                          <img src="../../assets/images/Ellipse 7.png" alt="" class="icon">
                          <div class = "vertical verticl-grey"></div>
                      </div>
                      <div class="sub-course-details">
                         <div class="s-c-d">
                           <p class="chapter-number margin">20</p>
                           <div class="couraseName">
                               <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                           <p class="chapter-duration margin">01.38 mins</p>
                           </div>
                         </div>
                         <div class="image2">
                             <img src="../../assets/images/Red Play.svg" alt="" class="icon1" *ngIf="false">
                             <img src="../../assets/images/grey play.svg" alt="" class="icon1">
                         </div>
    
                      </div>
                      
                  </div>
                  <div class="select-icon">
                      <div class="cirlce-image circle-image-color">
                          <img src="../../assets/images/Ellipse 7.png" alt="" class="icon">
                          
                      </div>
                      <div class="sub-course-details">
                         <div class="s-c-d">
                           <p class="chapter-number margin">20</p>
                           <div class="couraseName">
                               <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                           <p class="chapter-duration margin">01.38 mins</p>
                           </div>
                         </div>
                         <div class="image2">
                             <img src="../../assets/images/Red Play.svg" alt="" class="icon1" *ngIf="false">
                             <img src="../../assets/images/grey play.svg" alt="" class="icon1">
                         </div>
    
                      </div>
                      
                  </div>
                     
                 </div>
             </div>
          </div>
        </div>
    
        <div class="chapters-part" *ngIf="course_details_active == false">
              
            <div class="chapters">
                <p class="chapter-name">Chapter 1 - Introduction to the course</p>
                <mat-icon class="matIcon point" (click)="displaySubChapter()" *ngIf="display_sub_chapter == false">add</mat-icon>
                <mat-icon class="matIcon point" (click)="displaySubChapter()" *ngIf="display_sub_chapter == true">remove</mat-icon>
              </div>
           
          <div class="chapter-data" *ngIf="display_sub_chapter == true">
             <div class="stepper">
                 <div class="sub-course">
                     <div class="select-icon">
                         <div class="cirlce-image">
                             <img src="../../assets/images/Vector.png" alt="" class="icon">
                             <div class = "vertical"></div>
                         </div>
                         
                         <div class="sub-course-details">
                            <div class="s-c-d">
                              <p class="chapter-number margin">20</p>
                              <div class="couraseName">
                                  <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                              <p class="chapter-duration margin">01.38 mins</p>
                              </div>
                            </div>
                            <div class="image2 point">
                                <img src="../../assets/images/Red Play.svg" alt="" class="icon1">
                                <img src="../../assets/images/Red Play.svg" alt="" class="icon" *ngIf="false">
                            </div>
    
                         </div>
                         
                     </div>
                     
                     <div class="select-icon">
                      <div class="cirlce-image">
                          <img src="../../assets/images/Ellipse 7.png" alt="" class="icon">
                          <div class = "vertical verticl-grey"></div>
                      </div>
                      <div class="sub-course-details">
                         <div class="s-c-d">
                           <p class="chapter-number margin">20</p>
                           <div class="couraseName">
                               <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                           <p class="chapter-duration margin">01.38 mins</p>
                           </div>
                         </div>
                         <div class="image2 point">
                             <img src="../../assets/images/Red Play.svg" alt="" class="icon1">
                             <img src="../../assets/images/grey play.svg" alt="" class="icon" *ngIf="false">
                         </div>
    
                      </div>
                      
                  </div>
                  <div class="select-icon">
                      <div class="cirlce-image circle-image-color">
                          <img src="../../assets/images/Ellipse 7.png" alt="" class="icon">
                          <div class = "vertical verticl-grey"></div>
                      </div>
                      <div class="sub-course-details">
                         <div class="s-c-d">
                           <p class="chapter-number margin">20</p>
                           <div class="couraseName">
                               <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                           <p class="chapter-duration margin">01.38 mins</p>
                           </div>
                         </div>
                         <div class="image2">
                             <img src="../../assets/images/Red Play.svg" alt="" class="icon1" *ngIf="false">
                             <img src="../../assets/images/grey play.svg" alt="" class="icon1">
                         </div>
    
                      </div>
                      
                  </div>
                  <div class="select-icon">
                      <div class="cirlce-image circle-image-color">
                          <img src="../../assets/images/Ellipse 7.png" alt="" class="icon">
                          
                      </div>
                      <div class="sub-course-details">
                         <div class="s-c-d">
                           <p class="chapter-number margin">20</p>
                           <div class="couraseName">
                               <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                           <p class="chapter-duration margin">01.38 mins</p>
                           </div>
                         </div>
                         <div class="image2">
                             <img src="../../assets/images/Red Play.svg" alt="" class="icon1" *ngIf="false">
                             <img src="../../assets/images/grey play.svg" alt="" class="icon1">
                         </div>
    
                      </div>
                      
                  </div>
                     
                 </div>
             </div>
          </div>
        </div>
    
        <div class="chapters-part" *ngIf="course_details_active == false">
              
            <div class="chapters">
                <p class="chapter-name">Chapter 1 - Introduction to the course</p>
                <mat-icon class="matIcon point" (click)="displaySubChapter()" *ngIf="display_sub_chapter == false">add</mat-icon>
                <mat-icon class="matIcon point" (click)="displaySubChapter()" *ngIf="display_sub_chapter == true">remove</mat-icon>
              </div>
           
          <div class="chapter-data" *ngIf="display_sub_chapter == true">
             <div class="stepper">
                 <div class="sub-course">
                     <div class="select-icon">
                         <div class="cirlce-image">
                             <img src="../../assets/images/Vector.png" alt="" class="icon">
                             <div class = "vertical"></div>
                         </div>
                         
                         <div class="sub-course-details">
                            <div class="s-c-d">
                              <p class="chapter-number margin">20</p>
                              <div class="couraseName">
                                  <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                              <p class="chapter-duration margin">01.38 mins</p>
                              </div>
                            </div>
                            <div class="image2 point">
                                <img src="../../assets/images/Red Play.svg" alt="" class="icon1">
                                <img src="../../assets/images/Red Play.svg" alt="" class="icon" *ngIf="false">
                            </div>
    
                         </div>
                         
                     </div>
                     
                     <div class="select-icon">
                      <div class="cirlce-image">
                          <img src="../../assets/images/Ellipse 7.png" alt="" class="icon">
                          <div class = "vertical verticl-grey"></div>
                      </div>
                      <div class="sub-course-details">
                         <div class="s-c-d">
                           <p class="chapter-number margin">20</p>
                           <div class="couraseName">
                               <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                           <p class="chapter-duration margin">01.38 mins</p>
                           </div>
                         </div>
                         <div class="image2 point">
                             <img src="../../assets/images/Red Play.svg" alt="" class="icon1">
                             <img src="../../assets/images/grey play.svg" alt="" class="icon" *ngIf="false">
                         </div>
    
                      </div>
                      
                  </div>
                  <div class="select-icon">
                      <div class="cirlce-image circle-image-color">
                          <img src="../../assets/images/Ellipse 7.png" alt="" class="icon">
                          <div class = "vertical verticl-grey"></div>
                      </div>
                      <div class="sub-course-details">
                         <div class="s-c-d">
                           <p class="chapter-number margin">20</p>
                           <div class="couraseName">
                               <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                           <p class="chapter-duration margin">01.38 mins</p>
                           </div>
                         </div>
                         <div class="image2">
                             <img src="../../assets/images/Red Play.svg" alt="" class="icon1" *ngIf="false">
                             <img src="../../assets/images/grey play.svg" alt="" class="icon1">
                         </div>
    
                      </div>
                      
                  </div>
                  <div class="select-icon">
                      <div class="cirlce-image circle-image-color">
                          <img src="../../assets/images/Ellipse 7.png" alt="" class="icon">
                          
                      </div>
                      <div class="sub-course-details">
                         <div class="s-c-d">
                           <p class="chapter-number margin">20</p>
                           <div class="couraseName">
                               <p class="chapter-name chapter-name1 margin">Creating a New Project and File</p>
                           <p class="chapter-duration margin">01.38 mins</p>
                           </div>
                         </div>
                         <div class="image2">
                             <img src="../../assets/images/Red Play.svg" alt="" class="icon1" *ngIf="false">
                             <img src="../../assets/images/grey play.svg" alt="" class="icon1">
                         </div>
    
                      </div>
                      
                  </div>
                     
                 </div>
             </div>
          </div>
        </div> -->
      </div>

      <div class="join-course"  *ngIf="courseDetails.isEnrolled == null" >
          <p class="margin point" (click)="joinCourse()">Join Course</p>
      </div>
    </div>
</div>
</div>

<div class="vidio-display" [class.display-ok]="mobile_video_display == true" *ngIf="mobile_video_display == true">
    
    <video src="../../assets/pexels-polina-kovaleva-8035714.mp4" class="display-videos" controls type="video/mp3">
    
           
        
    </video>
  
        <img src="../../assets/images/icn_close_white@1.5x.svg" alt="" class="close point" (click)="closeVideo()" >
  
</div>
