<mat-card class="header-body">
  <div class="header-part">
    <!-- <div class="logo-search"> -->
      <div class="image">
        <img src="../../assets/images/Group 118.png" alt="" class="img point" routerLink="/dashboard"/>
      </div>
      <div class="search-part-div">
        <div class="search" [class.flexReverse]="searchOk == true">
          <mat-icon class="search-icon" (click)="searchKey()">search</mat-icon>
          <mat-icon class="color" (click)="clearData()" *ngIf="searchCancel == true">close</mat-icon>
          <input
            type="text"
            placeholder="Search"
            (click)="searchCourse()"
            [(ngModel)]="searchKeyData"
            (keyup)="searchKey()"
          />
          
        </div>
        <div class="filter point" [class.search-ok]="searchOk == true" (click)="filter_course()">
          
            <img
            src="../../assets/images/Mask_Group_9 Clipped.png"
            alt=""
            width="70%"
            height="70%"
          />
          
        </div>
      </div>
    <!-- </div> -->
    <div class="profile-notification" [class.close]="searchOk == true">
      <div class="notification-image">
        <img
          src="../../assets/images/Bell@2x.png"
          alt=""
          class="notification point"
        />
      </div>
      <div class="setting" (click)="displayDropDown()">
        <img
          src="../../assets/images/Gear@2x.png"
          alt=""
          class="setting-image point"
        />
      </div>
      <div class="profile">
        <img
          [src]="userImage"
          alt=""
          class="profile-image point"
        />
      </div>
    </div>
    <div class="close point" [class.search-ok]="searchOk == true">
      <mat-icon class="color" (click)="closeSearch()">close</mat-icon>
    </div>
  </div>
  <div class="search-part" [class.search-ok]="searchOk == true" *ngIf="searchOption == true" [class.mobile-menu]="search_view == true">
    <div class="top-search">
      <p class="search-head">Top Search</p>
      <div class="button-list">
        <button mat-raised-button class="top-search-button margin-top" (click)="searchCatogary('Java')">Java</button>
        <button mat-raised-button class="top-search-button margin-top" (click)="searchCatogary('Angular')">Angular</button>
        <button mat-raised-button class="top-search-button margin-top" (click)="searchCatogary('JavaScript')">JavaScript</button>
        <button mat-raised-button class="top-search-button margin-top" (click)="searchCatogary('Designing')">Designing</button>
        <button mat-raised-button class="top-search-button margin-top" (click)="searchCatogary('Data analyst')">
          Data analyst
        </button>
        <button mat-raised-button class="top-search-button" (click)="searchCatogary('Backend course')">
          Backend course
        </button>
      </div>
    </div>
    <div class="top-search" *ngIf="false">
      <p class="no-data">No matching course</p>
      <p class="sub-no-data">Try a different search or browse categories</p>
    </div>
    <div class="top-search">
      <p class="search-head">Search from Categories</p>
      <div class="button-list gap">
        
        <div class="search-category point" (click)="searchCatogary('Design')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_design@1.5x.svg" alt="">
          </span>
          Design
        </div>
        <div class="search-category point" (click)="searchCatogary('Development')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_code@1.5x.svg" alt="">
          </span>
          Development
        </div>
        <div class="search-category point" (click)="searchCatogary('Business')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_business@1.5x.svg" alt="">
          </span>
          Business
        </div>
        <div class="search-category point" (click)="searchCatogary('Finance')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_finance@1.5x.svg" alt="">
          </span>
          Finance
        </div>
        <div class="search-category point" (click)="searchCatogary('Health & Fitness')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_fitness@1.5x.svg" alt="">
          </span>
         <span>Health&nbsp;&&nbsp;Fitness</span>
        </div>
        <div class="search-category point" (click)="searchCatogary('Music')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_music@1.5x.svg" alt="">
          </span>
          Music
        </div>
        <div class="search-category point" (click)="searchCatogary('IT & Software')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_IT@1.5x.svg" alt="">
          </span>
          IT&nbsp;&&nbsp;Software
        </div>
        <div class="search-category point" (click)="searchCatogary('Marketing')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_marketing@1.5x.svg" alt="">
          </span>
          Marketing
        </div>
        <div class="search-category point" (click)="searchCatogary('Lifestyle')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_lifestyle@1.5x.svg" alt="">
          </span>
          Lifestyle
        </div>
        <div class="search-category point" (click)="searchCatogary('Photography')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_photography@1.5x.svg" alt="">
          </span>
          Photography
        </div>
        <div class="search-category point" (click)="searchCatogary('Teaching')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_teaching@1.5x.svg" alt="">
          </span>
          Teaching
        </div>
       
      </div>
    </div>
  </div>
  <div class="search-data" *ngIf="searchOption == false">
  <div class="search-datas" (click)="gotoCourseDetails()">
      <div class="image-details">
          <div class="course-image">
              <img [src]="image" alt="" width="70em" height="70em" class="courseImage">
       <div class="courseDetails">
           <p class="courseName">Digital Marketing for 2021 Masterclass</p>
           <p class="chapterCount">14 Chapter</p>
           <button class="course-button">Design</button>
       </div>
          </div>
      </div>
  </div>
  <div class="search-datas" (click)="gotoCourseDetails()">
    <div class="image-details">
        <div class="course-image">
            <img [src]="image" alt="" width="70em" height="70em" class="courseImage">
     <div class="courseDetails">
         <p class="courseName">Digital Marketing for 2021 Masterclass</p>
         <p class="chapterCount">14 Chapter</p>
         <button class="course-button">Design</button>
     </div>
        </div>
    </div>
</div>
<div class="search-datas" (click)="gotoCourseDetails()">
    <div class="image-details">
        <div class="course-image">
            <img [src]="image" alt="" width="70em" height="70em" class="courseImage">
     <div class="courseDetails">
         <p class="courseName">Digital Marketing for 2021 Masterclass</p>
         <p class="chapterCount">14 Chapter</p>
         <button class="course-button">Design</button>
     </div>
        </div>
    </div>
</div>
<div class="search-datas" (click)="gotoCourseDetails()">
    <div class="image-details">
        <div class="course-image">
            <img [src]="image" alt="" width="70em" height="70em" class="courseImage">
     <div class="courseDetails">
         <p class="courseName">Digital Marketing for 2021 Masterclass</p>
         <p class="chapterCount">14 Chapter</p>
         <button class="course-button">Design</button>
     </div>
        </div>
    </div>
</div>
<div class="search-datas" (click)="gotoCourseDetails()">
    <div class="image-details">
        <div class="course-image">
            <img [src]="image" alt="" width="70em" height="70em" class="courseImage">
     <div class="courseDetails">
         <p class="courseName">Digital Marketing for 2021 Masterclass</p>
         <p class="chapterCount">14 Chapter</p>
         <button class="course-button">Design</button>
     </div>
        </div>
    </div>
</div>
  </div>
</mat-card>
<mat-card class="dropdown" [class.click-setting]="display_dropdown == true">
  <div class="option border" (click)="myCourse()">
    <mat-icon class="point">school</mat-icon>
    <p class="point">My Course</p>
  </div>
  <div class="option border" (click)="close()">
    <mat-icon class="point">person_outline</mat-icon>
    <p class="point">My Profile</p>
  </div>
  <div class="option" (click)="close()">
    <mat-icon class="point">logout</mat-icon>
    <p class="point">Logout</p>
  </div>
</mat-card>

<div class="mobile-screen-header">
  <img src="../../assets/images/icn_hamburgermenu@1.5x.svg" alt="" class="image" (click)="gotoMenu()">
  <mat-icon class="search-icon" (click)="gotoSearch()">search</mat-icon>
</div>
<div class="mobile-menu" *ngIf="search_view == true">
 
  <div class="search-part" [class.search-ok]="searchOk == true" [class.mobile-menu]="search_view == true">
    
    <div class="searchBar">
      <mat-icon class="point back" (click)="closeSearchs()">arrow_back</mat-icon>
      <p class="search-text">Search</p>
    </div>
    <div class="search-filter">
      <div class="searchbar">
        <mat-icon class="search-icon1" (click)="searchKey()">search</mat-icon>
        <mat-icon class="color" (click)="clearData()" *ngIf="searchCancel == true">close</mat-icon>
        <input
          type="text"
          placeholder="Search"
          (click)="searchCourse()"
          [(ngModel)]="searchKeyData"
          (keyup)="searchKey()"
        />
        
      </div>
      <div class="filter point search-ok" (click)="filter_course()">
          <img
            src="../../assets/images/Mask_Group_9 Clipped.png"
            alt=""
            
      /></div>
    </div>
    <div class="top-search" *ngIf="searchOption == true">
      <p class="search-head">Top Search</p>
      <div class="button-list">
        <button mat-raised-button class="top-search-button backgroundColor" (click)="searchCatogary('Java')">Java</button>
        <button mat-raised-button class="top-search-button backgroundColor" (click)="searchCatogary('Angular')">Angular</button>
        <button mat-raised-button class="top-search-button backgroundColor" (click)="searchCatogary('JavaScript')">JavaScript</button>
        <button mat-raised-button class="top-search-button backgroundColor" (click)="searchCatogary('Designing')">Designing</button>
        <button mat-raised-button class="top-search-button backgroundColor" (click)="searchCatogary('Data analyst')">
          Data analyst
        </button>
        <button mat-raised-button class="top-search-button backgroundColor" (click)="searchCatogary('Backend course')">
          Backend course
        </button>
      </div>
    </div>
    <div class="top-search" *ngIf="false">
      <p class="no-data">No matching course</p>
      <p class="sub-no-data">Try a different search or browse categories</p>
    </div>
    <div class="top-search"  *ngIf="searchOption == true">
      <p class="search-head">Search from Categories</p>
      <div class="button-list gap">
        
        <div class="search-category point border" (click)="searchCatogary('Design')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_design@1.5x.svg" alt="">
          </span>
          Design
        </div>
        <div class="search-category point border" (click)="searchCatogary('Development')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_code@1.5x.svg" alt="">
          </span>
          Development
        </div>
        <div class="search-category point border" (click)="searchCatogary('Business')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_business@1.5x.svg" alt="">
          </span>
          Business
        </div>
        <div class="search-category point border" (click)="searchCatogary('Finance')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_finance@1.5x.svg" alt="">
          </span>
          Finance
        </div>
        <div class="search-category point border" (click)="searchCatogary('Health & Fitness')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_fitness@1.5x.svg" alt="">
          </span>
         Health&nbsp;&&nbsp;Fitness
        </div>
        <div class="search-category point border" (click)="searchCatogary('Music')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_music@1.5x.svg" alt="">
          </span>
          Music
        </div>
        <div class="search-category point border" (click)="searchCatogary('IT & Software')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_IT@1.5x.svg" alt="">
          </span>
          IT&nbsp;&&nbsp;Software
        </div>
        <div class="search-category point border" (click)="searchCatogary('Marketing')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_marketing@1.5x.svg" alt="">
          </span>
          Marketing
        </div>
        <div class="search-category point border" (click)="searchCatogary('Lifestyle')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_lifestyle@1.5x.svg" alt="">
          </span>
          Lifestyle
        </div>
        <div class="search-category point border" (click)="searchCatogary('Photography')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_photography@1.5x.svg" alt="">
          </span>
          Photography
        </div>
        <div class="search-category point border" (click)="searchCatogary('Teaching')">
          <span class="image-div">
            <img src="../../assets/images/icn_categories suggestion_teaching@1.5x.svg" alt="">
          </span>
          Teaching
        </div>
       
      </div>
    </div>
  </div>

 
</div>
