.header-body{
    box-sizing: border-box;
    margin: 0;
    padding: 0.5% 10%;
    background-color: #092963;
    width: 100%;
    position: relative;
}

.header-part,.profile-notification{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-notification{
    /* display: none; */
    justify-content: flex-end;
    gap: 20%;
}
.profile{
    width: 100%;
    /* height: 100%; */
    
}

.profile-image{
    object-fit: cover;
    width: 3em;
    border-radius: 50%;
    
}
.search-part-div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3%;
}
.filter{
    display: none;
    background-color: #EE5C4D;
    border-radius: 40px;
    padding: 0.51% 2%;
}



.search{
   width: 90%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #123779;
    border-radius: 50px;
    padding: 0.5%;
}
.search-icon{
    width: 10%;
    font-size: 2rem;
    color:#fff;
    cursor: pointer;
}
.search input{
    
    width: 90%;
    background-color: transparent;
    border: none;
    font-family: Proxima Nova Soft;
font-weight: Bold;
font-size: 1.6rem;
line-height: 2rem;
color: #fff;
}
.close{
    display: none;
}

.search input::placeholder{
    color:rgba(255,255,255,0.3);
}
.search input:focus{
    outline: none;
}
.dropdown{
    /* display: none; */
    position: absolute;
    width: 10%;
    top:6%;
    right: 1.3%;
    
}

.option{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    width: 90%;
    margin: auto;
    
    
}
.option p{
   margin:0;
   padding: 5% 1%;
}
.border{
    border-bottom: 1px solid 
    rgba(4, 44, 92, 0.1);
   
}
.click-setting{
    display: block;
    z-index: 2;
}




/* Search styling */


.search-part{
    
    display: none;
    
    width: 40vw;
    
    
    margin-left: 30%;
    padding: 1%;
    text-align: left;
    
}
.search-ok{
    display: block;
}
.flexReverse{
flex-direction: row-reverse;

}
.search-head{
    color:#fff;
    font-size: 1.8rem;
   margin-left: 5%;
    line-height: 2.5rem;
    font-weight: bold;
    font-family: Proxima Nova Soft;
}
.top-search-button,.search-category{
    width: fit-content;
    padding: 0% 2%;
    margin-bottom: 4%;
    font-weight: bold;
    font-size: 1.3rem;
    font-family:Proxima Nova Soft;
    

}
.button-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    width: 90%;
    margin: auto;
}
.gap{
    gap:2%
}

.search-category{
   /* height: fit-content;
    */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    gap: 5%;
    padding: 0 2%;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 4%;
}

.search-data{
  height: 38vh;
    overflow-y: scroll;
}
.search-data::-webkit-scrollbar{
    display: none;
}
.search-datas{
    width:50%;
   
    margin-left: 30%;
    padding: 1%;
    text-align: left;
    cursor: pointer;
}

/* Course details */
.course-image{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:5%;
}
.courseDetails p{
    margin: 0;
    margin-bottom: 1%;
}
.course-button{
    background-color: #fff;
    color: #000;
    border-radius: 6px;
    padding: 1% 3%;
}
.courseName{
    font-family:Proxima Nova Soft;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 2.6rem;
    font-weight: bold;
}
.chapterCount{
    color:rgba(255,255,255,0.3);
    font-size: 1.2rem;
    line-height: 2.6rem;
}
.courseImage{
    border-radius: 6%;
}

.no-data{
    font-family: Proxima Nova Soft;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    color: #fff;
    margin-top: 5%;
}
.sub-no-data{
    font-family: Proxima Nova Soft;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color:rgba(255,255,255,0.5);
    line-height: 2.6rem;

}
.mobile-screen-header,.dropdown{
    display: none;
}

@media(max-width:700px){
    .header-body{
        display: none;
    }
    .search-head{
        color:#000;
    }
  
    .mobile-screen-header{
        display: block;
    
        /* width: 90vw; */
        /* padding: 5%; */
        display: flex;
        justify-content: space-between;
    }
    .search-icon{
        font-size: 2rem;
        color:black;
        margin: 10% 5% 0 0;
        
        padding: 0;
        
    }
    .image{
        margin: 10% 0 0 5%;
    }
    .mobile-menu{
        /* height: 100px; */
    position: fixed;
    /* width: 90vw; */
    
    margin-right: 5%;
    /* background-color:rgba(0,0,0,0.09); */
    top: 0;
    /* height: fit-content; */
    background-color: #fff;
    padding: 5%;
    right: 0;
    animation-name: slide;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
   
    

    }
    
    @keyframes slide {
        from {
          transform: translateX(100%);
        }
        to {
          transform: translateX(5%);
          opacity: 1;
        }
      }

      .backgroundColor{
        background-color: #FCBE4B;
    }

    .top-search{
        width: 100vw;
        
        
    }
    /* .searchBar1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
    } */
    .searchBar{
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: auto;
        margin-top: 5%;
        
     
    }
    .border{
        border: 1px solid #E4E4E4;
    }

    .search-text{
        color: #373737;
        font-family: "Proxima Nova Soft";
        font-size: 2.0rem;
        font-weight: 600;
        letter-spacing: 0.39px;
        line-height: 2.8rem;
        

    }
    .back{
        
        position: absolute;
        left: 0;
        top:3%;
    }

    .searchbar{
        /* height: fit-content; */
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap:5%;
        border: 1px solid black;
        padding: 1% 0%;
        border-radius: 6px;
        
        
    }
    .searchbar input{
        border: none;
        width: 70%;
        
    }
    .searchbar input:focus{
        outline: none;
    }
    .search-ok{
        width: fit-content;
        border-radius: 6px;
        
    }
    .search-filter{
        display: flex;
        /* width: 100%; */
        width: 90%;
        margin: auto;
        margin-bottom: 5%;
        justify-content: flex-start;
        gap:2%;
        align-items: center;
        
    }
    .color{
        color:black;
    }
    .search-part{
       
        min-height: 100vh;
    }
   
    
}



