<!-- <app-header></app-header> -->
<div class="display-data">
    <div class="dashboard-body">
        <p class="hello">Hello!</p>
        <p class="user-name">{{userName.fullName}}</p>
    
        <!-- New courses -->
        <div class="categories-list">
            
                <div class="each-course">
                    <div class="course-image" *ngFor="let category of categoryData;index as i">
                        <img [src]="category.courseImage" alt="" class="image">
                        <p class="course-name course-name-style">Product UX Design Course Sale</p>
                    </div>
                </div>
            
            <div class="pagination-button">
                <span class="point" [class.pagination-active]="new_course_pagination == '1' || new_course_pagination == null" (click)="newCoursePagination('1')">.</span>
                <span class="point" [class.pagination-active]="new_course_pagination == '2'" (click)="newCoursePagination('2')">.</span>
                <span class="point" [class.pagination-active]="new_course_pagination == '3'" (click)="newCoursePagination('3')">.</span>
                <span class="point" [class.pagination-active]="new_course_pagination == '4'" (click)="newCoursePagination('4')">.</span>
            </div>
        </div>
    
        <!-- Ongoing course --> 
        <div class="categories-list">
            <div class="ongoing-course">
                <div class="course-name-see-all">
                    <p class="ongoing">Ongoing courses</p>
                    <p class="see-all margin point" (click)="seeAllData('ongoing')">See All</p>
                    
                </div>
                <div class="each-course">
                    <div class="course-image" *ngFor="let eachCourse of ongoingCourse;index as i">
                        <img [src]="eachCourse.courseImage" alt="" class="image">
                        
                        <div class="course-details">
                            <div class="c-s">
                                <p class="course-name-style">{{eachCourse.courseTitle}}</p>
                                <p class="course-name-style chap-size">{{eachCourse.courseContent.totalChapters}}/{{eachCourse.courseContent.totalLessons}} Chapters</p>
                            </div>
                            <div class="continue point" (click)="continue(eachCourse)">Continue</div>
                        </div>
                    </div>
                  
                    
                    
                </div>
            </div>
        </div>
    
        <div class="categories">
            <div class="course-name-see-all">
             
                    <p class="ongoing">Categories</p>
                <!-- <p class="see-all point">See All</p> -->
                
            </div>
    
            <div class="top-search">
               
                <div class="button-list gap">
                        <div class="search-category point" *ngFor="let eachCategory of courseCategories;index as i">
                          <span class="image-div1">
                            <img [src]="categoryImage[i]" alt="">
                          </span>
                          <span class="category-text font-style margin-left">{{eachCategory}}</span>
                        </div>
                </div>
            </div>
        </div>
    
        <!-- Choice your course -->
        <div class="choice-your-course">
            <div class="course-name-see-all">
                <p class="ongoing">Choice your course</p>
                <p class="see-all point" (click)="seeAllData('choice')">See All</p>
                
            </div>
            <div class="navbar">
                <p class="navbar-option point" [class.nav-active]="(choice_course == 'All' || choice_course == null)" (click)="choiceYourCourse('All')">&nbsp;&nbsp;&nbsp;All&nbsp;&nbsp;&nbsp;</p>
                <p class="navbar-option point" [class.nav-active]="(choice_course == 'Popular')" (click)="choiceYourCourse('Popular')">Popular</p>
                <p class="navbar-option point" [class.nav-active]="(choice_course == 'Newest')" (click)="choiceYourCourse('Newest')">Newest</p>
            </div>
           <div class="categories-list">
            <div class="choice-course">
                <mat-card class="each-choice-course" *ngFor="let choice of choiceCourse;index as i">
                    <div class="image-div images">
                        <div class="image-course-type">
                            <img [src]="choice.courseImage" alt="">
                        <div class="course-type">{{choice.category}}</div>
                        </div>
                    </div>
                    <div class="details-data">
                    <p class="see-all each-course-name">{{choice.courseTitle}}</p>
                   
                    <p class="see-all each-course-chapter chap-size">{{choice.courseContent.totalChapters}}&nbsp;Chapters</p>
                </div>
                </mat-card>
            </div>
           </div>
        </div>
    
        <!-- Top course in business -->
        <div class="choice-your-course">
            <div class="course-name-see-all">
                <p class="ongoing">Top courses in Business</p>
                <p class="see-all point" (click)="seeAllData('business')">See All</p>
                
            </div>
            <div class="categories-list">
                <div class="choice-course">
                    <mat-card class="each-choice-course" *ngFor="let topBusiness of topBusinessCourse;index as i">
                        <div class="image-course-type each-video-course">
                            <img [src]="topBusiness.courseImage" alt="" *ngIf="display_video_id != topBusiness._id">
                            <div class="play-button point" (click)="displayVideo(topBusiness._id)" *ngIf="display_video_id != topBusiness._id">
                                <img src="../../assets/images/play.png" alt="">
                            </div>
                            <video [src]="topBusiness.videoLink" controls class="vidio-size" type="video/mp3" *ngIf="display_video_id == topBusiness._id"></video>
                           
                        </div>
                        <div class="details-data">
                        <p class="see-all each-course-name">{{topBusiness.courseTitle}}</p>
                        <div class="chapter-clock">
                            <p class="see-all each-course-chapter margin">{{topBusiness.courseContent.totalChapters}}&nbsp;&nbsp;Chapters</p>
                        <p class="see-all each-course-chapter margin chap-size"><img src="../../assets/images/clock.png"  width="20%" alt="">&nbsp;{{topBusiness.courseContent.totalDuration | duration}}</p>
                        </div>
                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    
        <!-- Top course in design -->
        <div class="choice-your-course">
            <div class="course-name-see-all">
                <p class="ongoing">Top courses in Design</p>
                <p class="see-all point" (click)="seeAllData('design')">See All</p>
                
            </div>
            <div class="choice-course">
                <mat-card class="each-choice-course each-choice23" *ngFor="let topBusiness of topWebCourse;index as i">
                    <div class="image-course-type each-video-course">
                        <img [src]="topBusiness.courseImage" alt="" *ngIf="display_video_id != topBusiness._id">
                        <div class="play-button point" (click)="displayVideo(topBusiness._id)" *ngIf="display_video_id != topBusiness._id">
                            <img src="../../assets/images/play.png" alt="">
                        </div>
                        <video [src]="topBusiness.videoLink" controls class="vidio-size" type="video/mp3" *ngIf="display_video_id == topBusiness._id"></video>
                       
                    </div>
                    
                   <div class="details-data">
                    <p class="see-all each-course-name">{{topBusiness.courseTitle}}</p>
                    <div class="chapter-clock">
                        <p class="see-all each-course-chapter margin">{{topBusiness.courseContent.totalChapters}}&nbsp;&nbsp;Chapters</p>
                    <p class="see-all each-course-chapter margin chap-size"><img src="../../assets/images/clock.png"  width="20%" alt="">&nbsp;{{topBusiness.courseContent.totalDuration | duration}}</p>
                   </div>
                    </div>
                </mat-card>
               
            </div>
        </div>
    
    </div>
</div>