<mat-card class="login-container">
    <div class="image-part">
        <div class="image">
            <img src="../../assets/images/img_onboarding_illustration3.png" alt="">
        </div>
        <p class="text">Seamless Workflow</p>
        <p class="sub-text">
            Sync rosters, create and assign impactful video experiences, enrich your flipped classroom, and streamline tedious grading.
        </p>
        <div class="pagination">
            <span class="dot">.</span>
            <span class="dot">.</span>
            <span class="dash">_</span>
        </div>
    </div>
    <div class="login-part">
       <div class="logo">
           <img src="../../assets/images/img_virtuallearn logo_splash 2.png" alt="" class="logo-image">
       </div>
       <p class="welcome-text">
           Welcome Back!
       </p>
       <p class="sub-welcome-text">
        Easy to learn anytime and anywhere. Login to your account
       </p>
       <div class="social-button">
           <button class="button  facebook">
               <img src="../../assets/images/facebook.png" alt="" class="social-image">
           </button>
           <button class="button">
               <img src="../../assets/images/google.png" alt="" class="social-image">
           </button>
       </div>

       <div class="login-form">
           <form action="">
               <mat-form-field>
                   <mat-label>Username</mat-label>
                   <input type="text" matInput>
               </mat-form-field>
               <mat-form-field>
                   <mat-label>Enter your mobile number</mat-label>
                   <input type="text" matInput>
                  
               </mat-form-field>
               <div class="forgot">
                <p class="register-text link">Forgot Password?</p>
               </div>
               

               <button>Continue</button>
           </form>
       </div>
       <p class="register-text">
           Don't have a account? <span class="link">Register</span>
       </p>
    </div>
</mat-card>